name: main

on:
  push:
    branches: [main]
  pull_request:
    types: [opened, synchronize]

env:
  LUA_LS_VERSION: 3.7.4

concurrency:
  group: github.head_ref
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest
    name: lint
    steps:
      - uses: actions/checkout@v4

      - uses: JohnnyMorganz/stylua-action@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          version: latest
          args: --check . -g '*.lua' -g '!deps/'

  tests:
    needs:
      - lint
    runs-on: ubuntu-latest
    timeout-minutes: 1
    strategy:
      matrix:
        neovim_version: ['v0.10.1', 'v0.11.5']

    steps:
      - uses: actions/checkout@v4

      - run: date +%F > todays-date

      - name: setup neovim
        uses: rhysd/action-setup-vim@v1
        with:
          neovim: true
          version: ${{ matrix.neovim_version }}

      - name: run tests
        run: make test-ci

  tests-nightly:
    needs:
      - lint
    runs-on: ubuntu-latest
    timeout-minutes: 1
    continue-on-error: true

    steps:
      - uses: actions/checkout@v4

      - run: date +%F > todays-date

      - name: restore cache for today's nightly.
        uses: actions/cache@v4
        with:
          path: _neovim
          key: ${{ runner.os }}-x64-${{ hashFiles('todays-date') }}

      - name: setup neovim
        uses: rhysd/action-setup-vim@v1
        with:
          neovim: true
          version: nightly

      - name: run tests
        run: make test-ci
